@model DavidSerb.Web.Models.Depot

@{
    Layout = null;
}

<h1>Create Depot</h1>

<fieldset>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(depot => depot.DepotId)
            @Html.EditorFor(depot => depot.DepotId)
            @Html.ValidationMessageFor(depot => depot.DepotId, "", new { style = "color: red" });
        </p>
        <p>
            @Html.LabelFor(depot => depot.DepotName)
            @Html.TextBoxFor(depot => depot.DepotName)
            @Html.ValidationMessageFor(depot => depot.DepotName, "", new { style = "color: red" });
        </p>
        <button class="btn btn-primary" type="submit">Create</button>
    }
</fieldset>